.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__text {
  font-size: 20px;
}
.card__name {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: 0 auto;
  color: black;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}
